<template name='category'>
  <div class='category col-lg-3 col-md-3'>
      <img class="overlay" src="/images/overlay.png">
      <img class="thumbnail" src='{{headline.favIcon}}'/>
      <a href="history/{{name}}">
        <h2> {{name}} </h2>
      </a>
      <a href='{{headline.url}}' target='_blank'>
        <div class="headTitle"><h4> {{headline.title}} </h4></div>
        <div class="headUrl"><p>{{headline.url}}</p></div>
      </a>
  </div>
<!-- jquery something.substring(0,30) etc -->
</template>