<template name='dashboard'>
  <header class = "cd-header">
  {{> nav}}
  </header>

  <main class="cd-main-content">

    <!-- Tabs across the top -->
    <div class="cd-tab-filter-wrapper">
      <div class="cd-tab-filter">
        <ul class="cd-filters">
          <li class="placeholder"> 
            <a data-type="all" href="#">All</a> <!-- selected option on mobile -->
          </li>
          <li class="filter"><a class="selected" href="#" data-type="">All</a></li>
          {{#each categories}}
            <li class="filter" data-filter=".{{filter_name}}">
              <a href="#" data-type="{{filter_name}}">{{name}}</a>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <!-- Deletion Confirmation Modal -->
    <div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            Are you sure you want to remove the category "{{categoryDeleteTarget}}"?
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="categoryDelete">Delete</button>
            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Item Gallery -->
    <section class="cd-gallery">
      <ul>
        {{#each items}}
          <li class="mix check1 radio2 option3 item-div {{filter_name}} {{price_filter price}} {{product_origin_name site}}" data-id="{{_id}}" data-category="{{filter_name}}">
            <img class = "product-origin" src="{{product_origin_image site}}">
            <a href="{{url}}" target="_blank">
              <div class="item-wrapper">
                <img class="img-size" src="{{main_image}}" alt="{{name}}">
              </div>
              <div class="item-name">
                <p class="single-line-text">{{name}}</p>
                {{price}}
              </div>
            </a>
            <span class="item-delete invisible glyphicon glyphicon-remove"></span>
          </li>
        {{/each}}
        <li class="gap"></li>
        <li class="gap"></li>
        <li class="gap"></li>
      </ul>
      <div class="cd-fail-message">No results found</div>
    </section>

    <!-- Side Filters -->
    <div class="cd-filter">
      <form>
        <div class="cd-filter-block">
          <h4>Search</h4>
          
          <div class="cd-filter-content">
            <input type="search" placeholder="Search for a product...">
          </div>
        </div>

        <div class="cd-filter-block">
          <h4>Price Range</h4>
          <ul class="cd-filter-content cd-filters list">
            <li>
              <input class="filter" data-filter="" type="radio" name="radioButton" id="price0" checked>
              <label class="radio-label" for="price0">Any</label>
            </li>
            <li>
              <input class="filter" data-filter=".price1" type="radio" name="radioButton" id="price1">
              <label class="radio-label" for="price1">under $50</label>
            </li>
            <li>
              <input class="filter" data-filter=".price2" type="radio" name="radioButton" id="price2">
              <label class="radio-label" for="price2">$50 - $99</label>
            </li>
            <li>
              <input class="filter" data-filter=".price3" type="radio" name="radioButton" id="price3">
              <label class="radio-label" for="price3">$99+</label>
            </li>
          </ul>
        </div>

        <div class = "cd-filter-block">
          <h4>Site</h4>
          <ul class = "cd-filter-content cd-filters list">
            {{#each sites}}
            <li>
              <input class = "filter" data-filter = ".{{product_origin_name name}}" type = "checkbox" value = "{{product_origin_name name}}" id = "{{product_origin_name name}}" name = "{{product_origin_name name}}">
              <label class = "checkbox-label" for = "{{product_origin_name name}}">{{product_origin_name name}}</label>
            </li>
            {{/each}}
          </ul>
        </div>

<!--         <div class="cd-filter-block">
          <h4>Select</h4>
          <div class="cd-filter-content">
            <div class="cd-select cd-filters">
              <select class="filter" name="selectThis" id="selectThis">
                <option value="">Choose an option</option>
                <option value=".option1">Option 1</option>
                <option value=".option2">Option 2</option>
                <option value=".option3">Option 3</option>
                <option value=".option4">Option 4</option>
              </select>
            </div>
          </div>
        </div> -->

    <!--     <div class="cd-filter-block">
          <h4>Category</h4>
          <ul class="cd-filter-content cd-filters list">
            <li>
              <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
              <label class="radio-label" for="radio1">All</label>
            </li>

            <li>
              <input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
              <label class="radio-label" for="radio2">Electronics</label>
            </li>

            <li>
              <input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
              <label class="radio-label" for="radio3">Clothes</label>
            </li>
          </ul>
        </div> -->
      </form>

      <a href="#" class="cd-close">Close</a>
    </div>

    <a href="#" class="cd-filter-trigger">Filters</a>
  </main>
  {{> footer}}
</template>