<template name='download'>
{{> nav}}
  <section id='download'>
    <div class='container-fluid'>
      <div class='col-md-8 col-md-offset-2 gray-container'>
        <div class='row'>
          <h1> Getting Started With Breadcrumbs </h1>
        </div>
        <div class='row'>
          <h2> 1. Create an account </h2>
          <form>
            <div class='text-input'>
              <h4> Username: </h4>
              <input type='text' name='username' required>
            </div>
            <div class='text-input'>
              <h4> Password: </h4>
              <input type='password' name='password' required>
            </div>
            <div class='text-input'>
              <h4> Confirm Password: </h4>
              <input type='password' name='confirmPassword' required>
            </div>
            <input class='btn-bc btn-green' type='submit' value='register' required>
          </form>
        </div>
        <div class='row'>
          <h2> 2. Download the Breadcrumbs extension and unzip </h2>
            <a class='btn-bc btn-blue' href="/downloads/breadcrumbs.zip" download>download</a>
        </div>
        <div class='row'>
          <h2> 3. Load the extension and login (to the extension) </h2>
          <ol>
            <li>Open Chrome > Settings > Extensions</li>
            <li>Load unpacked extension... > select the 'breadcrumbs' folder</li>
            <li>Accept the extension permissions</li>
            <li>Click the extension icon by your search bar to enter your login information</li>
            <li>The extension should indicated that you are tracking data after successful authentication</li>
          </ol>
        </div>
        <div class='row'>
          <h2> 4. Start browsing! All of your data will be logged to your dashboard. </h2>
        </div>
      </div>
    </div>
  </section>
{{>footer}}
</template>