<template name = "landing">
{{>nav}}

  <div class = "jumbotron container default">
    <div class = "layover">
      <div class = "jumbotron-header">
          <h1>BACKTRACK YOUR BREADCRUMBS/</h1>
          <h3>Retrieve your online shopping research in seconds.</h3>
            <button class="bc-button">Get Breadcrumbs for Chrome</button>
        </div>
    </div>
  </div>

<div id = "about-us" class = "container about-us default">
    <h2>You always have options.</h2>

    <div class="row">
      <div class="col-md-4">
        <img src = "images/landing/purple-circle.png">
        <h3>Never lose a thing</h3>
        <p>With Breadcrumbs Chrome extension, you will never lose track of anything you’ve looked at on shopping sites. </p>
      </div>
      <div class="col-md-4">
        <img src="images/landing/orange-circle.png">
        <h3>Sorted and organized</h3>
        <p>This tool will organize your browsed items into categories so that you can easily locate something without breaking a sweat.</p>
      </div>
      <div class="col-md-4">
        <img src="images/landing/blue-circle.png">
        <h3>Options are yours</h3>
        <p>We support multiple shopping sites and will keep adding more as we go.</p>
      </div>
    </div>  
</div>

<div id = "howitworks" class = "how-it-works default">
  <div class = "container">
    <div class = "row">
      <div class="col-md-1"></div>
      <div class = "col-md-6">
        <h2>Breadcrumbs always has your back.</h2>
        <p>Download our extension. Create an account. Sit back and relax. When you are in need, click on the breadcrumbs button on your browser and get everything you need to make the right decision.</p>
        <button class = "bc-button">GET BREADCRUMBS</button>
      </div>
      <div class="col-md-2"></div>
      <div class = "col-md-3">
        <img src="images/landing/beemo.png">
      </div>
    </div>
  </div>
</div>

<div id = "supportedsites" class = "container supported-sites default">

  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <h2>Supported sites</h2>
        <h3>We currently support products sold on Amazon and Ebay. Starting from the bottom, we will add more sites to suit your need in no time.</h3>
        <div class="row">
            <div class="col-md-4">
              <img src="images/landing/amazon.png">
            </div>
            <div class="col-md-4">
              <img src="images/landing/ebay.png">
            </div>
            <div class="col-md-4">
              <img src="images/landing/dots.png">
            </div>
        </div>
      </div>
    <div class="col-md-1"></div>
  </div>

  <div class = "row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-5">
            <img src="images/landing/chrome.png">
          </div>
          <div class="col-md-7" id = "supported-divider">
            <p>We are currently only able to help shoppers on Chrome at the moment.</p>
            <button class = "bc-button">GET CHROME</button>
          </div>
        </div>

      </div>

    <div class="col-md-6">

      <div class="row">
          <div class="col-md-4">
            <img src="images/landing/chrome-bag.png">
          </div>
          <div class="col-md-8">
            <p>Get our extension for Chrome, sit back, and relax.</p>
            <button class = "bc-button">DOWNLOAD</button>
          </div>
        </div>    
    </div>

  </div>

</div>



{{>footer}}
</template>