<template name='landing'>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">breadcrumbs/</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id = "navbar-center">
        <li><a href="dashboard">About us</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Supported sites</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login">Login</a></li>
        <li><a href="#">|</a></li>
        <li><a href="#">Register</a></li>
        <li><a><button class ="bc-button">Download</button></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class = "jumbotron container">
    <div class = "layover">
      <div class = "jumbotron-header">
          <h1>BACKTRACK YOUR BREADCRUMBS/</h1>
          <h3>Retrieve your online shopping research in seconds. Always make the right decision.</h3>
          <button class = "bc-button">Get Breadcrumbs for Chrome</button>
        </div>
    </div>
  </div>

<div class = "container about-us default">
    <h2>You always have options.</h2>

    <div class="row">
      <div class="col-md-4">
        <img src = "images/landing/purple-circle.png">
        <h3>Never lose a thing</h3>
        <p>With Breadcrumbs Chrome extension, you will never lose track of anything you’ve looked at on shopping sites. </p>
      </div>
      <div class="col-md-4">
        <img src="images/landing/orange-circle.png">
        <h3>Sorted and organized</h3>
        <p>This tool organize your browsed items into categories so that you can easily locate something without breaking a sweat.</p>
      </div>
      <div class="col-md-4">
        <img src="images/landing/blue-circle.png">
        <h3>Options are yours</h3>
        <p>We support multiple shopping sites and keeps adding more as we go. This is your best chance to get the best deal out there.</p>
      </div>
    </div>  
</div>

<div class = "how-it-works default">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-7">
        <h2>Breadcrumbs always has your back.</h2>
        <p>Download our extension. Create an account. Sit back and relax. When you are in need, click on the breadcrumbs button on your browser and get everything you need to make the right decision.</p>
        <button class = "bc-button">GET BREADCRUMBS</button>
      </div>
      <div class = "col-md-5">
        <img src="images/landing/beemo.png">
      </div>
    </div>
  </div>
</div>

<div class = "container supported-sites default">

  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <h2>Supported sites</h2>
        <h3>We currently support products sold on Amazon and Ebay. Starting from the bottom, we will add more sites to suit your need in no time.</h3>
        <div class="row">
            <div class="col-md-4">
              <img src="images/landing/amazon.png">
            </div>
            <div class="col-md-4">
              <img src="images/landing/ebay.png">
            </div>
            <div class="col-md-4">
              <img style = "height:50px" src="images/landing/dots.png">
            </div>
        </div>
      </div>
    <div class="col-md-1"></div>
  </div>

  <div class = "row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-5">
            <img src="images/landing/chrome.png">
          </div>
          <div class="col-md-7" id = "supported-divider">
            <p>We are currently only able to help shoppers on Chrome at the moment.</p>
            <button class = "bc-button">GET CHROME</button>
          </div>
        </div>

      </div>

    <div class="col-md-6">

      <div class="row">
          <div class="col-md-4">
            <img src="images/landing/chrome-bag.png">
          </div>
          <div class="col-md-8">
            <p>Get our extension for Chrome, sit back, and relax.</p>
            <button class = "bc-button">DOWNLOAD</button>
          </div>
        </div>    
    </div>

  </div>

</div>



<footer>
   <nav class=" navbar-default ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">breadcrumbs/</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id = "navbar-center">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About Breadcrumbs</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Support</a></li>
        <li><a>Download now</a></li>
        <li><img src="images/landing/twitter.png"></li>
        <li><img src="images/landing/mail.png"></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</footer>

</template>
















