<template name = "landing">
  {{> navLanding}}

<!-- jumbotron/ get breadcrumbs -->
  <div id = "breadcrumbs" class = "jumbotron container default">
    <div class = "layover">
      <div class = "jumbotron-header">
          <h1>BACKTRACK YOUR BREADCRUMBS/</h1>
          <h3>Retrieve your online shopping research in seconds.</h3>
            <a href="https://chrome.google.com/webstore/detail/kepgikcflgpcmnbfbnpchfjlbaeckkip"><button class="bc-button">Get Breadcrumbs for Chrome</button></a>
        </div>
    </div>
  </div>

<!-- about us section -->
  <div id = "sec1" class = "container about-us default">
      <h2>Online shopping? We can help.</h2>

      <div class="row">
        <div class="col-md-4">
          <img src = "images/landing/blue-circle.png">
          <h3>You shop. Breadcrumbs remembers.</h3>
          <p>Breadcrumbs is an extension that keeps track of your browsed products across shopping sites and organizes these products in an intuitive way. </p>
        </div>
        <div class="col-md-4">
          <img src="images/landing/orange-circle.png">
          <h3>Seamless logging</h3>
          <p>As soon as you install the extension on your browser and log in, all of your shopping data will be automatically logged in one place. Sit back and shop.</p>
        </div>
        <div class="col-md-4">
          <img src="images/landing/purple-circle.png">
          <h3>Organized dashboard </h3>
          <p>When you need to retrieve your shopping browsing history, go to your dashboard and find what you are looking for under the right category.</p>
        </div>
      </div> 

      <div class = "row">
        <a href="https://chrome.google.com/webstore/detail/kepgikcflgpcmnbfbnpchfjlbaeckkip"><button class="bc-button">Get it now</button></a>
      </div> 
  </div>

<!-- how it works section -->
  <div id = "sec2" class = "how-it-works default">
    <div class = "container">
      <div class = "row">
        <div class = "col-xs-6">
          <h2>Breadcrumbs always has your back.</h2>
          <p>Click on the download button and add Breadcrumbs/ to your browser. Create and account and login on your extension. Go to the dashboard by either logging in from the site or click on the dashboard button in the extension popup window.</p>
          <a href="https://chrome.google.com/webstore/detail/kepgikcflgpcmnbfbnpchfjlbaeckkip"><button class = "bc-button">GET BREADCRUMBS</button></a>
        </div>
        <div class="col-xs-1"></div>
        <div class = "col-xs-3">
          <img src="images/landing/login-dashboard.gif">
        </div>
        <div class = "col-xs-1"></div>
      </div>
    </div>
  </div>

<!-- our supported sites -->
  <div id = "sec3" class = "container supported-sites default">

    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <h2>Supported sites</h2>
          <h3>We currently support products sold on Amazon and Ebay. Starting from the bottom, we will add more sites to suit your need in no time.</h3>
          <div class="row">
              <div class="col-md-4">
                <img src="images/landing/amazon.png">
              </div>
              <div class="col-md-4">
                <img src="images/landing/ebay.png">
              </div>
              <div class="col-md-4">
                <img src="images/landing/dots.png">
              </div>
          </div>
        </div>
      <div class="col-md-1"></div>
    </div>

    <div class = "row">
        <div class="col-md-6">

          <div class="row">
            <div class="col-md-5">
              <img src="images/landing/chrome.png">
            </div>
            <div class="col-md-7" id = "supported-divider">
              <p>We are currently only able to help shoppers on Chrome at the moment.</p>
              <a href="https://www.google.com/chrome/browser/desktop/"><button class = "bc-button">GET CHROME</button></a>
            </div>
          </div>

        </div>

      <div class="col-md-6">

        <div class="row">
            <div class="col-md-4">
              <img src="images/landing/chrome-bag.png">
            </div>
            <div class="col-md-8">
              <p>Get our extension for Chrome, sit back, and relax.</p>
              <a href="https://chrome.google.com/webstore/detail/kepgikcflgpcmnbfbnpchfjlbaeckkip"><button class = "bc-button">DOWNLOAD</button></a>
            </div>
          </div>    
      </div>

    </div>

  </div>

<!-- Team -->
  <div id = "sec4" class = "default team">
  <div class = "container">
  <div class = "row">
    <div class = "col-xs-1"></div>

    <div class = "col-xs-5">

        <div class = "row">
          <div class = "col-xs-6">
            <img src="/images/theTeam/nacho.jpg">
            <p>Nacho</p>
          </div>
          <div class = "col-xs-6">
            <img src="/images/theTeam/penny.jpg">
            <p>Penny</p>
          </div>
        </div>

        <div class = "row">
          <div class = "col-xs-6">
              <img src="/images/theTeam/edward.jpg">
              <p>Edward</p>
          </div>
          <div class = "col-xs-6">
            <img src="/images/theTeam/kevin.jpg">
            <p>Kevin</p>
          </div>
        </div>

    </div>

    <div class = "col-xs-1"></div>
    <div class = "col-xs-5">
      <p>Team Breadcrumbs/ is a group of young professionals here at Northwestern University's Evanston campus. <b>Nacho</b>, our business person, is an MBA candidate at Kellogg's School of Management. <b>Penny</b>, specializes in content and design and is a Master's candidate at the Medill School of Journalism. <b>Edward Hu</b> and <b>Kevin Chen</b>, our developers, are both Computer Science Majors at our McCormick School of Engineering.</p>
    </div>

  </div>
  </div>

  </div>
<!-- END TEAM -->

<!-- Contact -->
  <div id = "sec5" class = "contact default">
    <div class = "container row">
      <div class = "col-xs-9">
        <p>We are in an early phase of developing this product and your feedback would be valuable to our growth. Let us know what you think, how we can improve, and any concerns you may have! We will respond as soon as possible.</p>
      </div>
    </div>
    <div class = "row">
      <form>
        <label name = "name"></label>
      </form>
    </div>
  </div>
<!-- END CONTACT -->


{{>footer}}
</template>