<template name='login'>
  <section id='login'>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <form>
            <h1 class='text-center'> Breadcrumbs Login </h1>
            <div class='entry text-center'>
              <h5> Username: </h5>
              <input type='text' name='username' required>
              <h5> Password: </h5>
              <input type='password' name='password' required>
              <input class='btn btn-blue' type='submit' value='login' required>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>