<template name='login'>
          <form>
            <h1 class='text-center'> breadcrumbs/ login </h1>
              <h5> Username: </h5>
              <input type='text' name='username' required>
              <h5> Password: </h5>
              <input type='password' name='password' required>
              <input class='btn-bc btn-blue' type='submit' value='login' required>
          </form>
          <h3>Don't have an account?</h3>
          <button class = "bc-button">Register</button>
</template>