<template name = "register">
  {{>nav}}

<div class = "jumbotron container">
    <div class = "layover">
      <div class = "jumbotron-header">
          <form class = "container">
            <h1 class='text-center'> Always make the right decision. With breadcrumbs/register </h1>
            <div class="row">
              <label> Username: </label>
              <input type='text' name='username' required>
            </div>
            <div class="row">
              <label> Password: </label>
              <input type='password' name='password' required>
              <input class='btn-bc btn-blue' type='submit' value='login' required>
            </div>
             <h3>Already have an account?</h3>
             <button class = "bc-button">Login</button>
          </form>
        </div>
    </div>
</div>


  
  {{>footer}}
</template>