<template name = "team">
{{>navLanding}}
  <div id = "sec4" class = "default team">
  <div class = "container">
  <div class = "row">
    <div class = "col-xs-1"></div>

    <div class = "col-xs-5">

        <div class = "row">
          <div class = "col-xs-6">
            <img src="/images/theTeam/nacho.jpg">
            <p>Nacho</p>
          </div>
          <div class = "col-xs-6">
            <img src="/images/theTeam/penny.jpg">
            <p>Penny</p>
          </div>
        </div>

        <div class = "row">
          <div class = "col-xs-6">
              <img src="/images/theTeam/edward.jpg">
              <p>Edward</p>
          </div>
          <div class = "col-xs-6">
            <img src="/images/theTeam/kevin.jpg">
            <p>Kevin</p>
          </div>
        </div>

    </div>

    <div class = "col-xs-1"></div>
    <div class = "col-xs-5">
      <p>Team Breadcrumbs/ is a group of young professionals here at Northwestern University's Evanston campus. <b>Nacho</b>, our business person, is an MBA candidate at Kellogg's School of Management. <b>Penny</b>, specializes in content and design and is a Master's candidate at the Medill School of Journalism. <b>Edward Hu</b> and <b>Kevin Chen</b>, our developers, are both Computer Science Majors at our McCormick School of Engineering.</p>
    </div>

  </div>
  </div>

  </div>
{{>footer}}
</template> 
