section#download {
    text-align: center;

    .col-md-8 {
        h2 {
            text-align: left;
        }
        .row {
            margin: 10px 0 0 0;
        }
    }

    form {
        margin-top: 30px;
        .text-input {
            margin: 0px auto 6px auto;
            width: 50%;
            text-align: left;
        }
        @mixin text-input {
            height: 35px;
            width: 100%;
        }
        input[type='text'], input[type='password'] {
            @include text-input
        }
        input[type='submit'] {
            line-height: 30px;
        }
    }

    ol {
        text-align: left;
    }

}