section#history {
    overflow: hidden;
    height: 100%;
    h4 {
        margin: 0 auto 10px auto;
        padding-left: 0px;
        font-family: 'Roboto Slab';
        text-align: center;
    }
    .list {
        height: 100%;
        margin-top: 0px;
    }
}