section#login {
  .row {
    margin-top: 5%;
  }
  form {
    width: 550px;
    margin: 7% auto 0 auto;
    .entry {
      margin: 20px auto;
      width: 75%;
    }
    h5 {
      text-align: left;
      margin-bottom: 4px;
    }
    @mixin text-input {
      height: 35px;
      margin: 0px auto 6px auto;
      width: 100%;
    }
    input[type='text'], input[type='password'] {
      @include text-input
    }
    #messages {
      color: red;
      text-align: center;
    }
  }
}