body {
	color: black;
}

label {
	display: inline-block;
	text-align: left;
}

input {
	// width: 100%;
}

.jumbotron {
	margin-bottom: 0;
}

#alreadyUser{
	display: inline-block;
}

.row {
	margin-bottom: 20px;
}