@import url(http://fonts.googleapis.com/css?family=Poiret+One|Roboto+Slab:300,700,100,400);

div.category {
  border: 1px, black, solid;
  margin: 5px;
  position: relative;
  overflow: hidden;
  padding: 0; 
  height: 232px;
  width: 319px;
  // background-color: #f9e6d6;

  .headTitle {  
      height: 2em;
      overflow: hidden;
  }

  .headUrl {  
      height: 1em;
      overflow: hidden;
  }

  h2, h4, p {
    z-index: 10;
    margin: 2% auto;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    white-space: nowrap;
  }

  h2 {
    top: 50%;
    font-family: 'Poiret One', cursive;
  }

  h4 {
    top: 65%;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
  }

  p {
    top: 75%;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    line-height: 1em;
  }

  img {
    height:100%;
    position: absolute;
    margin: {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .thumbnail {
    position: absolute;
    top: -30px;
    left: -20px;
    text-align: center;
    padding: 0px;
  }

  .overlay {
    z-index: 5;
    width: 100%;
    height: auto;
  }

  .iframe-wrapper {
    width: 320px;
    height: 150px;
    overflow: hidden;
  }
  iframe {
    width: 1600px;
    height: 900px;
    border: none;
    pointer-events: none;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.6);
    -webkit-transform-origin: 0 0;
  }
}
