@import url(http://fonts.googleapis.com/css?family=Poiret+One|Roboto+Slab:300,700,100,400);


div{
    border: 1px, black, solid;
}

.category{
  margin: 5px;
  position: relative;
  overflow: hidden; 
  height: 232px;
  width: 319px;
}

.headTitle{  //did not solve my problem... at all
    height: 2em;
    overflow: hidden;
}

 .headUrl{  //did not solve my problem... at all
    height: 1em;
    overflow: hidden;
}

h2, h4, p{
  margin: 2% auto;
  padding-left: 2%;
  padding-right: 2%;
  position: absolute;
}

h2{
  top: 50%;
  font-family: 'Poiret One', cursive;
}

h4{
  top: 65%;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
}

p{
  top: 75%;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  line-height: 1em;
}

img{
  height:100%;
  position: absolute;
  margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.thumbnail{
  z-index: -10;
  position: absolute;
  top-left: 0;
  text-align: center;
}

.overlay{
  z-index: -2;
  width:100%;
  height: auto;
}

// div.category {
//     margin: 20px auto;
//     width: 70%;
//     clear: both;
//     position: relative;

//     h2 {
//         font: bold 1.7em/1.1 "Benton Sans Bold", Arial, Helvetica, sans-serif;
//         margin-bottom: 0;
//     }

    
//     .tags {
//         position: absolute;
//     }

//     .content {
        
//         margin: 0;
//         padding: 0;
//         border: 0;

//         .main {
//             float: left;
//             width: 49%;
//             .excerpt {
//                 text-overflow: ellipsis;
//                 white-space: nowrap;
//                 overflow: hidden;
//                 img {

//                     float: left;
//                     width: 150px;
//                     height: 150px;
//                 }
//                 h4 {

//                     margin: 0;
//                     margin-left: 45%;
//                 }
//                 p {
//                     margin-left: 45%;
//                 }
//             }
//         }

//     }
// }