section.list-view {
  background-color: #eee;
  .list {
    margin: 50px auto 10px auto;
    width: 85%;
    padding-left: 0px;
  }
  .item {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    line-height: 40px;
    padding: 8px 25px 8px 8px;
    margin: 0 0 10px 0;
    list-style-type: none;

    h3 {
      line-height: 1.4;
      font-size: 18px;
      color: #08c;
      margin: 0 0 0 5px;
      display: inline;
    }

    .tags {
      font-weight: 400;
      font-size: 14px;
      color: #aaa;
    }
  }
  .sub-item {
    line-height: 15px;
    margin: 6px;

    .left {
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
    }

    .pull-right {
      display: inline-block;      
    }

    
  }
  .item-adder {
    width: 85%;
    text-align: center;
    margin: 0 auto 0 auto;
    overflow: hidden;
    .adder-add {
      form {
        input[type='text'] {
          display: block;
          width: 90%;
          margin: 10px auto;
        }
      }
      display: none;
    }
    button {
      margin-right: 10px;
    }
  }
}