
.list {
  overflow: auto;
  margin: 50px auto 10px auto;
  width: 85%;
  padding-left: 0px;
  font-family: 'Roboto Slab';
}
.item {
  color: #08c;
  width: 100%;
  background-color: #FFFFFF;
  // border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  padding: 8px 25px 8px 8px;
  margin: 0 0 10px 0;
  list-style-type: none;
  white-space: nowrap;

  .left {
    display: inline-block;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  h3 {
    line-height: 1.4;
    font-size: 18px;
    color: #08c;
    margin: 0 0 0 5px;
    display: inline;
  }

  .tags {
    font-weight: 400;
    font-size: 14px;
    color: #aaa;
  }
}
.sub-item {
  line-height: 15px;
  margin: 6px;

  .left {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
  }

  .pull-right {
    display: inline-block;      
  }

  
}
.item-adder {
  width: 85%;
  text-align: center;
  margin: 0 auto 0 auto;
  overflow: hidden;
  .adder-add {
    form {
      input[type='text'] {
        display: block;
        width: 90%;
        margin: 10px auto;
      }
    }
    display: none;
  }
  button {
    margin-right: 10px;
  }
}
.expandable {
  font-size: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  background-color: #f5f5f5;
  width: 100%;
  max-height: 130px;
  border: 1px solid rgb(227, 227, 227);
  box-shadow: (0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
  // border-radius: 4px;
  padding: 5px;
  display: none;
}
