<template name = "nav">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">breadcrumbs/</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {{#if currentUser}}
      <ul class="nav navbar-nav navbar-right">
          <li><a id="logout" href="/">Logout</a></li>
          <li><a href="#">|</a></li>
          <li><a href="#">|</a></li>
          <!-- <li><a><button class ="bc-button">|</button></a></li> -->
        </ul>
    {{else}}
      <ul class="nav navbar-nav" id = "navbar-center">
        <li><a href="#about-us">About us</a></li>
        <li><a href="#howitworks">How it works</a></li>
        <li><a href="#supportedsites">Supported sites</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a id = "login" href="/login">Login</a></li>
        <li><a href="#">|</a></li>
        <li><a id = "registerNav" href="/register">Register</a></li>
        <li><a><button class ="bc-button">Download</button></a></li>
      </ul>
      {{/if}}
    </div>
  </div>
</nav>
</template>