<template name='navbar'>
  <header class='active'>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/dashboard"> 
          <img alt="Breadcrumbs" class="logo" src="images/logo.png">
        </a>
        <p class='navbar-text'> {{category}} </p>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input name='filter' type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, {{name}}! <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <!-- <li><a href="#">Change Password</a></li> -->
                <li><a href='/account/categories'>Edit Categories</a></li>
                <li id='logout'><a href="#">Logout</a></li>
              </ul>
            </li>
            </ul>
        {{/if}}
      </div>
    </nav>
  </header>
</template>