<template name='accountCreate'>
  <form>
    <div class='text-input'>
      <h4> Username: </h4>
      <input type='text' name='username' required>
    </div>
    <div class='text-input'>
      <h4> Password: </h4>
      <input type='password' name='password' required>
    </div>
    <div class='text-input'>
      <h4> Confirm Password: </h4>
      <input type='password' name='confirmPassword' required>
    </div>
    <input class='btn-bc btn-green' type='submit' value='register' required>
  </form>
</template>