<template name="forgotPassword">
{{>nav}}
<div class = "jumbotron container">
    <div class = "layover">
      <div class = "jumbotron-header">

        <form id="forgotPasswordForm" method="post">
        <h3>Forgot your password?</h3>
        <label>Email: </label>
          <input id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
          <input class="btn-submit" type="submit" value="Send">
        </form>

        </div>
    </div>
</div>
{{>footer}}
</template>

<template name="resetPassword">

    {{#if resetPassword}}
    <form action="/reset-password"  id="resetPasswordForm" method="post">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
        <input class="btn-submit" type="submit" value="Reset">
    </form>
    <!-- end #reset-password-form -->
    {{/if}}

</template>