<template name = "login">
  {{>nav}}

<div class = "jumbotron container">
    <div class = "layover">
      <div class = "jumbotron-header">

          <form id = "loginForm" class = "container" method = "post">
            <h2 class='text-center'> Always make the right decision. With breadcrumbs/login </h2>
            <div class="row">
              <label> Email: </label>
              <input id = "email" placeholder = "email" type='email' name='email' required>
            </div>
            <div class="row">
              <label> Password: </label>
              <input id ="password" placeholder = "password" type='password' name='password' required>
            </div>
             <input class = "bc-button" type = "submit" value = "Login">
             <p id = "alreadyUser">Not a user? <a id = "register" href = "/register">Register</a></p>
          </form>
          <a href="/forgotPassword">Forgot Password?</a>

        </div>
    </div>
</div>
  
  {{>footer}}
</template>