<template name = "login">
  {{>nav}}

<div class = "jumbotron container">
    <div class = "layover">
      <div class = "jumbotron-header">

          <form id = "loginForm" class = "container" method = "post">
            <h2 class='text-center'> Always make the right decision. With breadcrumbs/login </h2>
            <div class="row">
              <div class = "col-xs-4">
                  <label> Email: </label>
              </div>
              <div class = "col-xs-4">
              <input id = "email" placeholder = "email" type='email' name='email' required>
              </div>
              <div class = "col-xs-4"></div>
            </div>

            <div class="row">
              <div class = "col-xs-4">
                <label> Password: </label>
              </div>
              <div class = "col-xs-4">
              <input id ="password" placeholder = "password" type='password' name='password' required>
              </div>
              <div class = "col-xs-4"></div>
            </div>

            <div class = "row">
              <div class = "col-xs-4"></div>
              <div class = "col-xs-4">
             <input class = "bc-button" type = "submit" value = "Login" id = "logininput">

             <p id = "alreadyUser">Not a user? <a id = "register" href = "/register">Register</a></p>
          <a href="/forgotPassword">Forgot Password?</a>
            </div>
            <div class = "col-xs-4"></div>
            </div>
            </form>
        </div>
    </div>
</div>
  
  {{>footer}}
</template>