<template name = "register">
  {{>nav}}

<div class = "jumbotron container">
    <div class = "layover">
      <div class = "jumbotron-header">
          <form id = "registerForm" class = "container" method = "post">
            <h2 class='text-center'> Always make the right decision. With breadcrumbs/register </h2>
            <div class="row">
              <div class = "col-xs-4">
                  <label> Email: </label>
              </div>
              <div class = "col-xs-4">
              <input id = "email" placeholder = "email" type='email' name='email' required>
              </div>
              <div class = "col-xs-4"></div>
            </div>

            <div class="row">
            <div class = "col-xs-4">
              <label> Password: </label>
            </div>
            <div class = "col-xs-4">
              <input id ="password" placeholder = "password" type='password' name='password' required>
            </div>
            <div class = "col-xs-4"></div>
            </div>

             <div class="row">
             <div class = "col-xs-4">
              <label> Confirm Password: </label>
              </div>
              <div class = "col-xs-4">
              <input id ="confirmPassword" placeholder = "Confirm Password" type='password' name='confirmPassword' required>
              </div>
              <div class = "col-xs-4"></div>
            </div>

            <div class = "row">
            <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
             <input id = "registerInput" class = "bc-button" type = "submit" value = "Register">
             <p id = "alreadyUser">Already a user? <a id = "login">Login</a></p>
             <div class = "col-xs-4"></div>
             </div>
             </div>
          </form>
        </div>
    </div>
</div>
  
  {{>footer}}
</template>