<template name = "register">
  {{>nav}}

<div class = "jumbotron container">
    <div class = "layover">
      <div class = "jumbotron-header">
          <form id = "registerForm" class = "container" method = "post">
            <h2 class='text-center'> Always make the right decision. With breadcrumbs/register </h2>
            <div class="row">
              <label> Username: </label>
              <input id = "username" placeholder = "username" type='text' name='username' required>
            </div>
            <div class="row">
              <label> Email: </label>
              <input id = "email" placeholder = "email" type='email' name='email' required>
            </div>
            <div class="row">
              <label> Password: </label>
              <input id ="password" placeholder = "password" type='password' name='password' required>
            </div>
             <div class="row">
              <label> Confirm Password: </label>
              <input id ="confirmPassword" placeholder = "confirmPassword" type='password' name='confirmPassword' required>
            </div>
             <input class = "bc-button" type = "submit" value = "Register">
             <p id = "alreadyUser">Already a user? <button id = "login" class="bc-button">Login</button></p>
          </form>
        </div>
    </div>
</div>
  
  {{>footer}}
</template>