<template name="waitVerification">
  {{> nav}}
  <div class = "jumbotron container">
      <div class = "layover">
        <div class = "jumbotron-header">
            <div class = "row">
              <h2>We're still waiting for you to verify your email.</h2>
              <h4>Please check your spam if you don't see any emails from us.</h4>
              <br/>
              <a id="send-verification"><h5>Need another verification email?</h5></a>
            </div>
          </div>
      </div>
  </div>
  {{> footer}}
</template>