html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {

}

section {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 2;
  padding: 20px 0px;

  #logo {
    float: left;
    margin: 13px 0 0 5%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  @media only screen and (min-width: 768px) {
    & {
      height: 60px;
    }

    #logo {
      margin-top: 23px;
    }
  }
}


